<table style="background-color: #3C89AA; font-family: Verdana; margin:0 auto;" cellpadding="52" width="100%">
    <tr>
        <td style="padding: 52px">
            <div style="text-align: center; height: 18px;">
                <img style="position: relative" src="{{ request.scheme }}://{{ request.get_host }}/static/images/email/header_logo_bluebkg.png" />
            </div>
            <div style="border-bottom: 1px solid #E7E4DC;"></div>
            <div style="color: #E7E4DC; margin: 20px 0px; text-align: center;">
                <div style="margin-bottom: 10px; "><span style="font-size: 22pt; ">Welcome to Amenify</span></div>
                <div><span style="font-size: 13pt; ">{{ sub_header }}</span></div>
            </div>
            <div style="border-top: 1px solid #E7E4DC; height: 0px;">&nbsp;</div>
        </td>
    </tr>
</table>